:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald",sans-serif!important;
  background: var(--mainWhite)!important;
  color: var(--mainDark)!important;
}
.text-title {
  font-family: 'Galade', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.logo {
  width: 80px;
  height: 70px;
  display: block;
  color: var(--mainWhite);
  animation: logo-spin infinite 10s linear;
}

.logo .camera {
  width: 100%;
  height: 100%;
  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn-black {
  border: 2px solid var(--mainDark);
  background: transparent;
  text-transform: capitalize;
  color: var(--mainDark);
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
}

.trash {
  color: var(--mainYellow);
}